.singleLinkTypeOption {
  color: white;
  height: 60px;
  font-family: var(--theme-font);
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  line-height: 60px;
}

.dropdownContainer {
  width: 250px;
  border-radius: 25px;
  overflow: hidden;
}

.dropdownHeaderContainer {
  width: 250px;
  border-radius: 15px;
  overflow: hidden;
}