
.page-header {
  background-color: var(--theme-color);
  position: fixed;
  z-index: 1000;
  width: 100%;
  text-align: center;
  color: white;
  font-family: var(--theme-font);
  display: grid;
  grid-template-columns: repeat(3, 33%);
  filter: drop-shadow(0px 10px 4px var(--theme-color-translucent));
}